# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.eggs/
*.egg-info/

# Conda & venv
env/
venv/
.venv/
*env/
*.conda/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Models & large files
*.h5
*.pkl
*.ckpt
